* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    font-size: 100%;

    --font-size-2: 1.75rem;
    --font-size-3: 1.25rem;
    --font-size-4: 1rem;
    --font-size-5: .85rem;

    --color-blue-1: #33489d;
    --color-blue-2: #141e41;
    --color-blue-3: #283a81;

    --color-black-1: #f9f9f9;
    --color-black-2: #f1f1f1;
    --color-black-3: #d4d4d4;
    --color-black-4: #4b4b4b;
}

body {
    background: linear-gradient(180deg, var(--color-blue-1) 15%,var(--color-blue-2) 100%);
    min-height: 100vh;
}

h1 {
    color: #fff;
    text-align: center;
    font-size: var(--font-size-3);
}

h2 {
    font-size: var(--font-size-4);
}

p, a {
    color: var(--color-black-4);   
}

.container {
    max-width: 400px;
    background: var(--color-black-2);
    margin: auto;
    border-radius: 15px;
    padding: 25px 15px;
}